<!DOCTYPE html>
<html lang="en">
<head>
  <title>file upload</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <div class="container" style="padding:50px;">
    <h1>우리 단톡방은 폭력적일까?</h1>
    <img src="https://menu.mt.co.kr/moneyweek/thumb/2021/02/04/06/2021020421018081015_1.jpg" alt="My Image">
      <div class="form-group">
        <form action = "/isViolence" method = "POST" enctype="multipart/form-data">
          <input type="file" onchange="loadFile(this.files[0])" accept=".txt,.csv" name="파일">
          <p><input type = "submit" value = "분석 시작"" /></p>
        </form>
      </div>
  </div>
</body>
</html>